html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #e9e0d8;
}

* {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: #7e501b;
}

@media only screen and (min-width: 800px) {
  h2 {
    font-size: 30px;
  }
}
a {
  text-decoration: none;
}

.header {
  background-color: #243E36;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #e9e0d8;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.header__container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}

.header__navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__h1 {
  font-size: 30px;
  color: #e9e0d8;
  letter-spacing: 3px;
}

.header__order {
  border: none;
  font-size: 18px;
  color: white;
  padding: 8px 16px;
  background-color: #7e501b;
  border-radius: 15px;
  margin: 14px;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px rgb(48, 45, 45);
}

.header__order:hover {
  background-color: #243E36;
}

.header__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: #7e501b;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #e9e0d8;
}

@media (max-width: 600px) {
  .header__h1 {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  .header__hamburger {
    display: block;
  }
  .header__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header__nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #243E36;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .header__nav-menu.active {
    right: 0;
  }
}
.section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__conteiner {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-top: 50px;
  margin-top: -30px;
  background-color: #e9e0d8;
  border-radius: 10px;
  -webkit-animation-name: transver;
          animation-name: transver;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes transver {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -30px;
  }
}

@keyframes transver {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -30px;
  }
}
.section__title {
  text-align: center;
  font-size: 40px;
  color: #7e501b;
  -webkit-animation-name: siz;
          animation-name: siz;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes siz {
  from {
    font-size: 0px;
  }
  to {
    font-size: 40px;
  }
}

@keyframes siz {
  from {
    font-size: 0px;
  }
  to {
    font-size: 40px;
  }
}
@media only screen and (min-width: 800px) {
  .section__header {
    height: 500px;
  }
}
.about__photo {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 4px solid #7e501b;
  margin: -60px 0 10px 10px;
}

.about__box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #243E36;
  color: #e9e0d8;
  text-align: justify;
  font-size: 16px;
  padding: 0 30px;
  margin: 30px 0;
  box-shadow: 0px 5px 10px 0px #aaa;
}

@media only screen and (min-width: 800px) {
  .section__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__photo {
    width: 30%;
    margin: 60px 30px 60px -60px;
  }
  .about__box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px 30px 30px 10px;
    margin-top: 0;
    margin-bottom: 60px;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual__text {
  text-align: center;
  width: 80%;
  color: #7e501b;
  padding: 10px 0 20px 10px;
  font-weight: bold;
  font-size: 18px;
}

.box__table {
  box-shadow: 0px 5px 10px 0px #aaa;
  width: 90%;
  background-color: #243E36;
  color: #e9e0d8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.box__table .price__table {
  margin: auto;
  border-spacing: 0;
  width: 100%;
  font-size: 20px;
  padding: 10px;
}
.box__table .price__table th,
.box__table .price__table td {
  padding: 0px 15px;
  text-align: left;
  border-bottom: 2px solid #7e501b;
}
.box__table .price__table .type {
  color: #7e501b;
}
.box__table .price__table th.price, .box__table .price__table th.time {
  color: #7e501b;
}
.box__table .price__table .price {
  padding-left: 50px;
  text-align: right;
}
.box__table .price__table .time {
  padding-left: 50px;
  text-align: right;
}

@media only screen and (max-width: 800px) {
  .price__table, th, td, tr, thead, tbody {
    display: block;
    font-size: 18px;
  }
  .table {
    margin-top: 20px;
  }
  .individual__text {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .individual__title {
    font-size: 30px;
  }
  .title {
    height: 300px;
  }
}
.new__voucher {
  max-width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

.masage {
  background-color: white;
  padding-top: 30px;
  margin-bottom: 40px;
}
.masage .masage__type {
  margin-top: 40px;
}

.slider_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: -1;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  margin-bottom: 40px;
  z-index: 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  width: 320px;
  border-radius: 25px;
  background-color: white;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 80%;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: none;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e9e0d8;
}

.description {
  font-size: 20px;
  color: #243E36;
  text-align: center;
  font-weight: bold;
}

.button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #7e501b;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px 0px #aaa;
}

.button:hover {
  background: #243E36;
}

.swiper-navBtn {
  color: #243E36;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #243E36;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
  color: #7e501b;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #243E36;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #243E36;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__contact__conteiner {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-top: 50px;
  background-color: #e9e0d8;
  border-radius: 10px;
}

.home__contact__box {
  width: 90%;
  height: auto;
  text-align: left;
  background-color: #243E36;
  color: #7e501b;
  font-size: 13px;
  border-radius: 10px;
  padding: 40px 15px 15px 15px;
}

@media only screen and (min-width: 800px) {
  .home__contact__conteiner {
    margin-top: -40px;
    flex-direction: row;
  }
}
.procedurs__picture {
  background-color: #e9e0d8;
  margin: -30px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #aaa;
}

.proc__icon {
  max-width: 30%;
  display: block;
  margin: auto;
}

.procedurs__description {
  background-color: #243E36;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
}

.procedurs__titule {
  text-align: center;
  font-weight: bold;
  color: #7e501b;
  font-size: 25px;
  margin: 10px 10px 30px 10px;
}

.procedurs__text {
  text-align: justify;
  padding: 20px;
  color: #e9e0d8;
  box-shadow: 0px 5px 10px 0px #aaa;
  margin-bottom: 15px;
}

.procedurs__order {
  border: none;
  width: 90px;
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 8px 8px;
  background-color: #7e501b;
  border-radius: 15px;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px rgb(48, 45, 45);
  margin: 20px auto;
  display: block;
}

.procedurs__order:hover {
  background-color: #243E36;
}

.procedurs__box {
  margin: -30px 0 60px 0;
  -webkit-animation-name: trans;
          animation-name: trans;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes trans {
  from {
    margin: 0px 0 60px 0;
  }
  to {
    margin: -30px 0 60px 0;
  }
}

@keyframes trans {
  from {
    margin: 0px 0 60px 0;
  }
  to {
    margin: -30px 0 60px 0;
  }
}
.more {
  display: none;
}

.myBtn {
  border: none;
  font-size: 18px;
  color: #7e501b;
  background-color: #243E36;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.3s ease;
  font-weight: bold;
  margin: 10px auto;
  display: block;
}

@media (min-width: 1024px) {
  .procedurs__boxes {
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto auto auto;
    gap: 5px;
    row-gap: 30px;
  }
  .procedurs__text {
    font-size: 18px;
  }
  .procedurs__header {
    width: 100%;
    height: 400px;
  }
}
.gallery__grid {
  max-width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  gap: 1px;
  background-color: #e9e0d8;
  border-radius: 10px;
}

@media only screen and (min-width: 800px) {
  .gallery__grid {
    grid-auto-rows: 400px;
  }
  .gallery__item:hover {
    transform: scale(1.2);
  }
}
.gallery__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item:hover {
  transform: scale(1.2);
}

.gallery__item:nth-child(5n+5) {
  grid-column: span 2;
  grid-row: span 2;
}

.logo {
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: -80px;
  border-radius: 50%;
  border: 2px solid #7e501b;
}

.contact__salon {
  font-size: 25px;
}

.contact__name {
  text-align: center;
  font-size: 20px;
  color: #e9e0d8;
  margin: 5px;
}

.contact__conteiner {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__link {
  text-decoration: none;
  color: #e9e0d8;
  flex: 1 0 50%;
}

.contact__link:hover {
  color: #7e501b;
}

.contact__box {
  width: 90%;
  height: auto;
  text-align: left;
  background-color: #243E36;
  color: #7e501b;
  font-size: 13px;
  margin: 15px;
  border-radius: 10px;
  padding: 40px 15px 15px 15px;
}

.contact__div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  gap: 15px;
}

.pictogram {
  max-width: 10%;
  height: auto;
  flex: 1 0 50%;
}

.contact__form__conteiner {
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
}
.contact__form__conteiner textarea {
  width: 80%;
  min-height: 100px;
  border: none;
  margin: 5px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  font-family: "Titillium Web", sans-serif;
}
.contact__form__conteiner input {
  width: 80%;
  height: 25px;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  font-family: "Titillium Web", sans-serif;
}
.contact__form__conteiner .submit {
  border: none;
  height: auto;
  font-size: 20px;
  color: white;
  padding: 5px;
  background-color: #7e501b;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
  margin: 14px;
  box-shadow: 0px 5px 10px 0px #aaa;
  font-family: "Titillium Web", sans-serif;
}
.contact__form__conteiner .sumit:hover {
  background-color: #243E36;
}
.contact__form__conteiner .notificationName, .contact__form__conteiner .notificationEmail {
  display: none;
}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .contact__box {
    font-size: 18px;
  }
  .contact__conteiner {
    flex-direction: row;
  }
  .contact__header {
    height: 400px;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__conteiner {
    flex-direction: row;
  }
  .contact__header {
    height: 600px;
  }
  .contact__box {
    font-size: 18px;
  }
  .contact__box {
    margin: 20px;
  }
  .contact__salon {
    font-size: 30px;
  }
}
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.podekovani {
  font-size: 80px;
  color: #7e501b;
  -webkit-animation-name: vel;
          animation-name: vel;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes vel {
  from {
    font-size: 0px;
  }
  to {
    font-size: 80px;
  }
}

@keyframes vel {
  from {
    font-size: 0px;
  }
  to {
    font-size: 80px;
  }
}
.footer {
  background-color: #243E36;
  height: auto;
}

.footer__links {
  background-color: #243E36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5%;
  margin: 15px;
}

.footer-link {
  color: #e9e0d8;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #7e501b;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px;
}

.icon {
  max-width: 100%;
  width: 30px;
  height: auto;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9e0d8;
  padding: 10px;
}

@media (min-width: 800px) {
  .footer__links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 18px;
  }
  .footer__links__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */