<!DOCTYPE html>
<html lang="en">
<head>
  <script>
  window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

gtag('consent', 'default', {
  'ad_storage': 'denied',
  'analytics_storage': 'denied',
  'personalization_storage': 'denied'
});
</script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MMSHQVL');</script>
<!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/scss/swiper-bundle.min.css">
  <link rel="stylesheet" href="/scss/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
   <title>Masáže Manon - Ing. Veronika Šachlová, Nová Cerekev okres Pelhřimova, Vysočina. Nabízí klasickou,Breussovu a lymfatickou masáž.Rehabilitační cvičení-Dornovu metodu, reiky a akupresuru.Kobinace metod, individuální přístup, dárkové poukazy. </title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMSHQVL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header -->
    <header class="header">
      <div class="header__container"> 
         <nav class="header__navbar">
          <a href="/"> 
          <h1 class="header__h1">Masáže Manon</h1>
          </a>
          
           <a href="/kontakty/#formular"class="header__order">Rezervace</a>
            <ul class="header__nav-menu">
               <li class="nav-item">
                  <a href="/" class="nav-link">Domů</a>
               </li>
               <li class="nav-item">
                  <a href="/o-mne/" class="nav-link">O mně</a>
               </li>
               <li class="nav-item">
                <a href="/masaze/" class="nav-link">Služby</a>
             </li>
               <li class="nav-item">
                  <a href="/cenik/" class="nav-link">Ceník</a>
               </li>
               <li class="nav-item">
                  <a href="/fotogalerie/" class="nav-link">Fotogalerie</a>
               </li>
               <li class="nav-item">
                <a href="/kontakty/" class="nav-link">Kontakty</a>
             </li>
            </ul>
            <div class="header__hamburger">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
         </nav>
      </div>
    </header>
    <div  class="section__header" style="background-image: url(/img/{{ image }}); background-position:center; background-repeat:no-repeat;background-size: cover;">
    <h2 class="section__title">{{ title }}</h2>
   </div> 
   <section class="section">
   

    {{ content | safe }}

    </section>
    <section class="footer">
    <div class="footer__links__conteiner">
  <div class="footer__links">
  <a href="/" class="footer-link">Domů</a> 
  <a  href="/o_mne/" class="footer-link">O mně</a>
  <a  href="/sluzby/" class="footer-link">Služby</a>
  <a href="/cenik/" class="footer-link">Ceník</a>
  <a href="/fotogalerie/" class="footer-link">Fotogalerie</a>
  <a href="/kontakty/" class="footer-link">Kontakty</a> 
</div>
</div>
<div class="footer__icons">
<a href="https://www.facebook.com/masazemanon "target="_blank"><img class="icon" src="/img/fc.png" alt="facebook"></a> 
<a href="tel:774 179 954"><img class="icon" src="/img/mob.png" alt="mobil"></a>
<a href="https://mapy.cz/zakladni?x=15.1123848&y=49.4154972&z=17&l=1&q=Nov%C3%A1%20Cerekev%20305%2C%20394%2015&source=addr&id=11683363&ds=1"target="_blank"><img class="icon" src="/img/adresa.png" alt="adresa"></a>
<a href="mailto:verca.burgrova@centrum.cz"> <img class="icon" src="/img/email.png" alt="email"></a>

</div>
<div class="footer__copyright">
  <p class="copy">Copyright ©2022 JA NI NA</p>
</div>
  
</section>
<!-- script -->
<script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>